<h3>Satellite Count:</h3>
<div class="counts">
	<div>Total: <span class="counts-total">{{satellites.length}}</span></div>
</div>

<!-- TODO 4: add logic to count number of satellites displayed -->
<tr *ngFor = "let satellite of satellites; let index = index" [ngClass]="{'gray': 0 === index % 2}" class="data-row">
	<td>{{satellite.name}}</td>
	<td [class.warning]="satellite.isSpaceDebris()">{{satellite.type}}</td>
	<td>{{satellite.operational}}</td>
	<td>{{satellite.orbitType}}</td>
	<td>{{satellite.launchDate}}</td>
  </tr>
  